@import url(./__form/popup__form.css);
@import url(./__title/popup__title.css);
@import url(./__name/popup__name.css);
@import url(./__name-field/popup__name-field.css);
@import url(./__about/popup__about.css);
@import url(./__about-field/popup__about-field.css);
@import url(./__handler/popup__handler.css);
@import url(./_closed/popup_closed.css);

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s, opacity 0.3s linear;
  }