.button_close{
    background-image: url('../../../images/close-icon.svg');
    position: fixed;
    border: none;
    background-color: unset;
    background-size: contain;
    width: 58px;
    height: 58px;
    left: 50%;
    margin-top: -50px;
    margin-left: 205px;
}
/*
@media screen and (max-width: 1024px) {
    .button_close {
        margin-top: -50px;
        margin-left: 205px;    
    }
}*/

@media screen and (max-width: 768px) {
    .button_close {
        height: 48px;
        width: 48px;
       /* margin-top: -50px;
        margin-left: 205px;    */
    }
}

@media screen and (max-width: 425px) {
    .button_close {
        height: 42px;
        width: 42px;
        left: 0;    
        top: 0;
        margin-top: 120px;
        margin-left: 272px;   
    }
  }