.profile__occupation{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin: 0;
    flex-basis: 100%;  
  }

  @media screen and (max-width: 765px) {
    .profile__occupation {
      text-align: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 425px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    justify-content: center;
  }
}