@import url(./_close/button_close.css);
@import url(./_submit/button_submit.css);
@import url(./_add/button_add.css);
@import url(./_edit/button_edit.css);
@import url(./_like/button_like.css);
@import url(./_trash/button_trash.css);
@import url(./_like/_active/button_like_active.css);

.button {
    display: flex;
  }

.button:hover {
  opacity: .8;
  cursor: pointer;
}